body{
   background-image: url(./assets/background.jpg);
}
@font-face {
    font-family: dafont;
    src: url(./fonts/SplineSansMono-Regular.ttf);
}
#card{
    border: 10px solid rgb(47, 42, 47);
    margin: auto;
    margin-top: 20vh;
    font-family: dafont;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 22, 22);
    width:45vw;
    filter: drop-shadow(0 0 0.75rem rgb(34, 9, 14));
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
p{
    color: white;
}
hr{
    width: 90px;
}
#cre{
    text-align: center;
    margin-top: 8vh;
}
#submit{
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    filter: drop-shadow(0 0 0.75rem rgb(133, 93, 45));
}
input{
    border-radius: 20px;
    padding: 5px 0;
}
